{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<style>
    /* div {
        border: solid 1px black;
    } */

    .list-youtuber img {
        object-fit: cover;
        border-radius: 5%;
        width: 70px;
        height: 70px;
    }


    .list-youtuber {
        display: flex;
    }

    .list-youtuber-name {
        font-size: large;
        font-weight: bold;
    }

    .list-youtuber-dsc {
        font-size: smaller;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .list-youtuber-tags {
        font-size: small;
        color: grey;
    }

    .list-youtuber-content {
        align-items: center;
    }

    .first-category {
        display: flex;
    }

    .category-title {
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .profile {
        text-align: center;
    }

    .profile img {
        object-fit: cover;
        border-radius: 5%;
        width: 80px;
        height: 80px;
    }

    .youtuber-name {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    .youtuber-tags {
        font-size: 11px;
        color: grey;
    }

    .list-title {
        font-weight: bold;
    }

    .list-title-name {
        font-size: 20px;
    }

    .list-sub-name {
        font-size: 13px;
    }

    .youtuber-list {
        background-color: #e0e0e0;
        border-radius: 2%;
    }

    .flex-box {
        display: flex;
    }

    thead {
            background-color:#cecece;
    }

    .content {
            max-width:500px;
            margin: auto;
            padding:10px;
    }

    .header {
        text-align: center;
    }

    .board {
        width: 100%
    }

    .even_bgcolor {
        background-color:#e8efff;
    }

    .pagination {
        display: flex;           
    }

    .current {
        font-weight: bold;
    }


    .abutton {
        background-color: #e6e6ff;
        color: #7b7b7b;
        font-size: small;
    }
</style>
<div class="category-title mx-3 my-2">
    POPULAR YOUTUBER LIST
</div>
{% for list in youtuber_lists %}
<div class="youtuber-list py-1 mx-3 my-2">
    <div class="list-title flex-box">
        <div class="list-title mx-3 my-2 col-9">
            <a href="{% url 'youtuber:youtuber_list_detail' list.id %}">
                <div class="list-sub-name">{{ list.sub_title }}</div>
                <div class="list-title-name">{{ list.main_title }}</div>
            </a>
        </div>

        {% if user.is_authenticated %}
        {{list | count_filter}}
        {% if list in check_my_youtuber_lists %}
        <div class="mx-4">
            <a href="{% url 'youtuber:remove_my_youtuber_list' list.id%}"><img class="add-or-remove" src="{% static "youtuber/img/bookmark-fill.svg" %}" alt="bookmark-fill.png" width="29px"
                    height="41px"></a>
        </div>
        {% else %}
        <div class="mx-4">
            <a href="{% url 'youtuber:add_my_youtuber_list' list.id %}"><img class="add-or-remove" src="{% static "youtuber/img/bookmark.svg" %}" alt="bookmark.png" width="29px" height="41px"></a>
        </div>
        {% endif %}
        {% endif %}
    </div>

    {% for youtuber in list.youtubers.all %}
    <a href="{% url 'youtuber:youtuber' youtuber.id %}">
        <div class="list-youtuber my-3 mx-4">
            <div class="mx-2">
                <img src="{{ youtuber.profile_image.url }}" alt="{{youtuber.name}}프로필">
            </div>

            <div class="list-youtuber-content col-9">
                <div class="list-youtuber-name"> {{ youtuber.name }}</div>
                <div class="list-youtuber-dsc"> {{ youtuber.description }} </div>
                <div class="list-youtuber-tags"> #{{ youtuber.tag.all|join:" #" }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endfor %}
<!-- Pagination -->
<div style="text-align:center">
    <div class="pagination">
    
        <div class="col-4">
        {% if youtuber_lists.has_previous %}
            <a class="abutton" href="?page=1">맨 앞으로</a>
            <a class="abutton" href="?page={{ youtuber_lists.previous_page_number }}">이전</a>
        {% endif %}
        </div>

        <div class="col-4">
        {% for page in youtuber_lists.paginator.page_range %}
            {% if page >= youtuber_lists.number|add:-2 and page <= youtuber_lists.number|add:2 %}
            <span class="{% if page == youtuber_lists.number %}current{% endif %}">
                <a href="?page={{ page }}">{{ page }}</a>
            </span>
            {% elif page >= youtuber_lists.number|add:-3 and page <= youtuber_lists.number|add:3 %}
                ..
            {% endif %}
        {% endfor %}
        </div>

        <div class="col-4">
        {% if youtuber_lists.has_next %}
            <a class="abutton" href="?page={{ youtuber_lists.next_page_number }}">다음</a>
            <a class="abutton" href="?page={{ youtuber_lists.paginator.num_pages }}">맨 뒤로</a>
        {% endif %}
        </div>

    </div>  
</div> 
{% endblock content %}