{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    a {
        text-decoration: None;
        color: black;
    }

    /* div {
        border: 1px solid black
    } */

    .flex-box {
        display: flex;
        justify-content: center;
    }

    .specific-profile-img {
        object-fit: cover;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 2px solid black
    }

    .profile-img {
        object-fit: cover;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 2px solid #C0C0C0
    }

    .youtuber-profile {
        text-align: center;
    }

    .youtuber-name {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    .youtuber-container {
        display: flex;
        border-bottom: 2px solid #C0C0C0
    }

    .list-title-name {
        font-size: 20px;
    }

    .list-sub-name {
        font-size: 13px;
        align-items: left;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }
    .embed-container {
        position: relative;
        padding-bottom: 60%;
        height: 0;
        overflow: hidden;
        width: 100%;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .video-name {
        font-size: smaller;
        font-weight: bold;
    }

    .video-date {
        font-size: 11px;
    }
</style>
<div class="flex-box">
    <div class="title my-3">
        <div class="list-sub-name">{{ youtuber_list.sub_title }}</div>
        <div class="list-title-name">{{ youtuber_list.main_title }}</div>
    </div>
    <!-- <a href="{% url 'youtuber:edit_my_youtuber' user.id %}">
        <div class="mx-2 my-4"><img src="{% static 'youtuber/img/pen_1.png' %}" alt="edit" width="20px" height="20px">
        </div>
    </a> -->
</div>


<div class="youtuber-container mx-3">
    {% for youtuber in youtubers %}
        {% if youtuber.id == youtuber_id %}
        <div onclick=location.href="{% url 'youtuber:youtuber_list_detail' youtuber_list_id %}" style="cursor:pointer;" class="youtuber-profile mx-2 my-3">
                <div>
                    <img class="specific-profile-img" src="{{ youtuber.profile_image.url }}" alt="{{youtuber.name}}">
                </div>
                <div class='youtuber-name'>{{ youtuber.name }}</div>
        </div>
        {% else %}
        <div onclick=location.href="{% url 'youtuber:youtuber_list_detail_specific_youtuber' youtuber_list_id youtuber.id %}" style="cursor:pointer;" class="youtuber-profile mx-2 my-3">
            <div>
                <img class="profile-img" src="{{ youtuber.profile_image.url }}" alt="{{youtuber.name}}">
            </div>
            <div class='youtuber-name'>{{ youtuber.name }}</div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<div class="mx-3 my-3">
    <div class="my-3">
        {% for video in videos %}
        <div class="pb-3 ps-4 py-3">
            <div class="youtuber">
                <div class="me-4">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/{{video.video_url}}'
                            frameborder='0' allowfullscreen></iframe></div>
                </div>
                <div>
                    <div class="video-name">{{video.video_name}}</div>
                    <div class="video-date">{{video.upload_date}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}